parameters:
  level: 8
  ignoreErrors:
    #- message: '#Parameter \#1 \$data of static method kbATeam\\DataProtection\\SecureSearch::encrypt\(\) expects string, int given.#'
    #  path: tests/SecureSearchTest.php
  paths:
    - src/
    - tests/
